.promo {
    min-height: 100vh;
    position: relative;
    background: url('../../img/main_bg.png') no-repeat 50%/cover;
    padding-top: 200px;
    &__master {
        position: absolute;
        right: 25vh;
        bottom: 10vh;
        height: 50vh;
    }
    &__title {
        margin-top: 15px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 23px;
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: space-between;
    }
    &__link {
        color: #000;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}
